* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial;
}

.sidebar {
    height: 100%;
    width: 15%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #73DBFF;
    overflow-x: hidden;
    padding-top: 0%;
    text-align: center;
}

.sidebar a {
    padding: 6px 0px 6px 0px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    font-weight: bold;
    display: block;
}

.sidebar a:hover {
    color: white;
}

.sidebar .arabicMenu, .sidebar .Menu  {
    color: #DB4E40;
}

.sidebar .active {
    text-decoration: underline;
    color: darkred;
}

.sidebar .active2 {
    text-decoration: underline;
    color: yellow;
}

.sidebar .active3 {
    text-decoration: underline;
    color: darkred;
}

.sidebar .active3:hover, .sidebar .notActive:hover {
    color: navy;
}

.langButton {
    width: 50%;
    height: auto;
    background-color: white;
    border: 5px solid black;
    text-align: center;
}
.språk a{
    padding-left: 10%;
    padding-right: 10%;
    width: 60%;
}
språk{    
}
.logo {
    width: 100%;
    height: auto;
    border-bottom: 5px solid black;
}

.main {
    margin-left: 14%;
    width: 76%;
    margin-top: -60px;
    padding: 0px 10px;
    text-align: center;
}
.bok{
    margin-left: 10%;
    width: 25%;
}
.bok img{
    width: 100%;
}

.home-article {
    padding-left: 7%;
    padding-top: 3%;
    padding-bottom: 5%;
    font-size: 20px;
}

.frontImg {
    width: 100%;
    height: auto;
    padding-top: 10%;
    margin-left: 7%;
}

.HomeTitle {
    padding-top: 1%;
    padding: absolute;
    margin-top: -50px;
    color: white;
    width: 90%;
    margin-top: -150px;
    margin-left: 13%;
    padding-bottom: 5%;
    text-align: center;
}

.header-problem {
    padding-left: 15%;
    padding-top: 3%;
    text-align: center;
}

.problem-article {
    padding-left: 15%;
    padding-top: 1%;
    text-align: center;
    width: 80%;
    font-size: 20px;
}

.problemImg {
    width: 80%;
    height: auto;
    padding-top: 2%;
}

.header-solution {
    padding-left: 10%;
    padding-top: 3%;
    text-align: center;
    font-size: 28px;
}

.header-download {
    padding-left: 10%;
    padding-top: 3%;
    text-align: center;
    font-size: 28px;
}

.phone {
    width: 45%;
    height: auto;
    float: left;
}

.phoneApp {
    width: 40%;
    height: auto;
    padding-left: 45%;
    padding-top: 5%;
}

.sideText {
    width: 50%;
    height: auto;
    float: left;
    padding-top: 5%;
    font-size: 24px;
}

.sideImg {
    width: 30%;
    height: auto;
    float: left;
    padding-top: 10%;
    padding-left: 10%;
}

.playStore,
.appStore {
    width: 100%;
    height: auto;
    padding: 5%;
    cursor: pointer;
}

@media only screen and (max-height: 600px) {
    .sidebar (padding-top: 15px; ) .sidebar a (font-size: 18px; )
}
@media(max-width: 800px) {
    .main .HomeTitle .endre{
        font-size: 25px;
        margin-top: 8%;
    }
    #end, header.header-download{
        font-size: 18px;
    }
    .sideText {
        font-size: 18px;
    }
    .sideImg {
        padding-left: 8%;
    }
    
    
    
}
@media(max-width: 620px) {
    .main .HomeTitle .endre{
        font-size: 20px;
        margin-top: 13%;
    }
    #end{
        font-size: 14px;
    }
    .sideText{
        font-size: 16px;
    }
}
